<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Song Form</title>
    </head>
    <body>
        <form action="#" th:action="@{/songform}" th:object="${song}" method="post">

            Name: <input type="text" th:field="*{name}" />
            Artist: <input type="text" th:field="*{artist}" />
            Album <input type="text" th:field="*{album}" />
            Rating: <input type="number" th:field="*{rating}" />
            Year: <input type="number" th:field="*{year}" />
            <input type="submit" value="Submit"/>
        </form>


    </body>
</html>